<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Settings for base items folders.">
          <targetDataStore physicalRootPath="$(sourceFolder)\unicorn\Foundation\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Templates -->
            <include name="Foundation.Serialization.Templates.[projectName]" database="master" path="/sitecore/templates/[projectName]">
              <exclude path="/sitecore/templates/[projectName]/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/templates/[projectName]/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/templates/[projectName]/Project/" childrenOnly="true" />
            </include>

            <!-- Renderings -->
            <include name="Foundation.Serialization.Renderings.[projectName]" database="master" path="/sitecore/layout/Renderings/[projectName]">
              <exclude path="/sitecore/layout/renderings/[projectName]/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/layout/renderings/[projectName]/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/layout/renderings/[projectName]/Project/" childrenOnly="true" />
            </include>

            <!-- Layouts -->
            <include name="Foundation.Serialization.Layouts.[projectName]" database="master" path="/sitecore/layout/layouts/[projectName]">
              <exclude path="/sitecore/layout/layouts/[projectName]/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/layout/layouts/[projectName]/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/layout/layouts/[projectName]/Project/" childrenOnly="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="Foundation.Serialization.PlaceholderSettings.[projectName]" database="master" path="/sitecore/layout/Placeholder Settings/[projectName]">
              <exclude path="/sitecore/layout/placeholder settings/[projectName]/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/layout/placeholder settings/[projectName]/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/layout/placeholder settings/[projectName]/Project/" childrenOnly="true" />
            </include>

            <!-- Media -->
            <include name="Foundation.Serialization.Media.[projectName]" database="master" path="/sitecore/media library/[projectName]">
              <exclude path="/sitecore/media library/[projectName]/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/media library/[projectName]/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/media library/[projectName]/Project/" childrenOnly="true" />
            </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
