<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Settings for base items folders.">
          <targetDataStore physicalRootPath="$(sourceFolder)\unicorn\Foundation\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Templates -->
            <include name="Foundation.Serialization.Templates.Helix.Skeleton" database="master" path="/sitecore/templates/Helix.Skeleton">
              <exclude path="/sitecore/templates/Helix.Skeleton/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/templates/Helix.Skeleton/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/templates/Helix.Skeleton/Project/" childrenOnly="true" />
            </include>

            <!-- Renderings -->
            <include name="Foundation.Serialization.Renderings.Helix.Skeleton" database="master" path="/sitecore/layout/Renderings/Helix.Skeleton">
              <exclude path="/sitecore/layout/renderings/Helix.Skeleton/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/layout/renderings/Helix.Skeleton/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/layout/renderings/Helix.Skeleton/Project/" childrenOnly="true" />
            </include>

            <!-- Layouts -->
            <include name="Foundation.Serialization.Layouts.Helix.Skeleton" database="master" path="/sitecore/layout/layouts/Helix.Skeleton">
              <exclude path="/sitecore/layout/layouts/Helix.Skeleton/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/layout/layouts/Helix.Skeleton/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/layout/layouts/Helix.Skeleton/Project/" childrenOnly="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="Foundation.Serialization.PlaceholderSettings.Helix.Skeleton" database="master" path="/sitecore/layout/Placeholder Settings/Helix.Skeleton">
              <exclude path="/sitecore/layout/placeholder settings/Helix.Skeleton/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/layout/placeholder settings/Helix.Skeleton/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/layout/placeholder settings/Helix.Skeleton/Project/" childrenOnly="true" />
            </include>

            <!-- Media -->
            <include name="Foundation.Serialization.Media.Helix.Skeleton" database="master" path="/sitecore/media library/Helix.Skeleton">
              <exclude path="/sitecore/media library/Helix.Skeleton/Feature/" childrenOnly="true" />
              <exclude path="/sitecore/media library/Helix.Skeleton/Foundation/" childrenOnly="true" />
              <exclude path="/sitecore/media library/Helix.Skeleton/Project/" childrenOnly="true" />
            </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
