<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Helix.Skeleton.Base" description="The base serialization of the Helix.Skeleton Project ." 
                       dependencies="Foundation.Serialization,
                       Foundation.ORM,
                       Feature.Demo,
                       Feature.Components">
          
          <targetDataStore physicalRootPath="$(sourceFolder)\Unicorn\Project\Helix.Skeleton\Base" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Layout -->
            <include name="Project.Helix.Skeleton.Layout" database="master" path="/sitecore/layout/layouts/Helix.Skeleton/Project/Helix.Skeleton">
            </include>

            <!-- Placeholder -->
            <include name="Project.Helix.Skeleton.Placeholder" database="master" path="/sitecore/layout/Placeholder Settings/Helix.Skeleton/Project/Helix.Skeleton">
            </include>

            <!-- Templates -->
            <include name="Project.Helix.Skeleton.Templates" database="master" path="/sitecore/templates/Helix.Skeleton/Project/Helix.Skeleton">
            </include>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
