<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="[dotnetVersion]" />
  <package id="Glass.Mapper.Sc.Core" version="[glassMapperVersion]" targetFramework="[dotnetVersion]" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="[dotnetVersion]" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="[dotnetVersion]" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="[dotnetVersion]" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="[dotnetVersion]" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="[dotnetVersion]" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="[dotnetVersion]" />
  <package id="Rainbow.Core" version="2.0.0" targetFramework="[dotnetVersion]" />
  <package id="Rainbow.Storage.Yaml" version="2.0.0" targetFramework="[dotnetVersion]" />
  <package id="RainbowCodeGeneration" version="0.2.0" targetFramework="[dotnetVersion]" />
  <package id="Sitecore.Kernel.NoReferences" version="[sitecoreVersion]" targetFramework="[dotnetVersion]" developmentDependency="true" />
  <package id="Sitecore.Logging.NoReferences" version="[sitecoreVersion]" targetFramework="[dotnetVersion]" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="[sitecoreVersion]" targetFramework="[dotnetVersion]" developmentDependency="true" />
</packages>
