<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.[projectName].Base" description="The base serialization of the [projectName] Project ." 
                       dependencies="Foundation.Serialization,
                       Foundation.ORM,
                       Feature.Demo,
                       Feature.Components">
          
          <targetDataStore physicalRootPath="$(sourceFolder)\Unicorn\Project\[projectName]\Base" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <!-- Layout -->
            <include name="Project.[projectName].Layout" database="master" path="/sitecore/layout/layouts/[projectName]/Project/[projectName]">
            </include>

            <!-- Placeholder -->
            <include name="Project.[projectName].Placeholder" database="master" path="/sitecore/layout/Placeholder Settings/[projectName]/Project/[projectName]">
            </include>

            <!-- Templates -->
            <include name="Project.[projectName].Templates" database="master" path="/sitecore/templates/[projectName]/Project/[projectName]">
            </include>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
