<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="[aspNet.mvcVersion]" targetFramework="[nugetTargetFramework]" />
  <package id="Microsoft.AspNet.Razor" version="[aspNet.razorVersion]" targetFramework="[nugetTargetFramework]" />
  <package id="Microsoft.AspNet.WebPages" version="[aspNet.webPagesVersion]" targetFramework="[nugetTargetFramework]" />
  <package id="Sitecore.Analytics.Core" version="[sitecore.version]" targetFramework="[nugetTargetFramework]" developmentDependency="true" />
  <package id="Sitecore.Mvc" version="[sitecoreMvc.version]" targetFramework="[nugetTargetFramework]" developmentDependency="true" />
</packages>
