<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configy" version="[configy.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Kamsar.WebConsole" version="[kamsarWebconsole.version]" targetFramework="[nugetTargetFramework]" />
  <package id="MicroCHAP" version="[microCHAP.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Rainbow" version="[rainbow.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Rainbow.Core" version="[rainbow.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Rainbow.Storage.Sc" version="[rainbow.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Rainbow.Storage.Yaml" version="[rainbow.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Sitecore.Analytics.Core" version="[sitecore.version]" targetFramework="[nugetTargetFramework]" developmentDependency="true" />
  <package id="Unicorn" version="[unicorn.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Unicorn.Core" version="[unicorn.version]" targetFramework="[nugetTargetFramework]" />
</packages>
