<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="[castle.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Glass.Mapper.Sc" version="[glassMapper.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Glass.Mapper.Sc.Core" version="[glassMapper.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Microsoft.Extensions.DependencyInjection" version="[microsoftDependencyInjection.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="[microsoftDependencyInjectionAbstraction.version]" targetFramework="[nugetTargetFramework]" />
  <package id="Sitecore.Analytics.Core" version="[sitecore.version]" targetFramework="[nugetTargetFramework]" developmentDependency="true" />
  <package id="Sitecore.Kernel" version="[sitecore.version]" targetFramework="[nugetTargetFramework]" developmentDependency="true" />
</packages>
