<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Demo" description="The demo feature." dependencies="Foundation.Serialization">
          <targetDataStore physicalRootPath="$(sourceFolder)\Unicorn\Feature\Demo" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <!-- Template -->
            <include name="Feature.Demo.Template" database="master" path="/sitecore/templates/[projectName]/Feature/Demo">
            </include>
            
            <!-- Rendering -->
            <include name="Feature.Demo.Rendering" database="master" path="/sitecore/layout/Renderings/[projectName]/Feature/Demo">
            </include>
            
            <!-- Media -->
            <include name="Feature.Demo.Media" database="master" path="/sitecore/media library/[projectName]/Feature/Demo">
            </include>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>

